<ion-header >
  <ion-toolbar  color="primary">
      <ion-icon class="icon" color="secondary" name="arrow-round-back"></ion-icon>
    <ion-title padding color="secondary">Datos basicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
    <ion-card  padding>

      <ion-item >
          <ion-label color="secondary" position="floating">Documento</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" position="floating">Nombre</ion-label>
            <ion-input></ion-input>
          </ion-item>
  
          <ion-item>
              <ion-label color="secondary" position="floating">Municipio</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="secondary" position="floating">Dirección</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-button>Siguiente</ion-button>
            </ion-card>


</ion-content>



<ion-footer>
  <ion-toolbar color="primary" class="title">
      
  </ion-toolbar>
</ion-footer>