.img {
    margin: 20%;
}

.loginInput01 {
    margin: 0 10%;
}

.loginInput02 {
    margin: 0 14%;
    text-align: left
}

.buttons {
    width: 100%;
    display: flex;
    text-align: center;
    border-radius: 5%;
}