<ion-header >
  <ion-toolbar  color="primary">
      <ion-icon  padding color="secondary" name="arrow-round-back"></ion-icon>
    <ion-title padding color="secondary">Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
   

      <ion-item>
          <ion-label color="secondary" position="floating">Departamento</ion-label>
          <ion-input></ion-input>
        </ion-item>
  
</ion-content>



<ion-footer>
  <ion-toolbar color="primary" class="title">
      
  </ion-toolbar>
</ion-footer>
