<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br><br>
    <ion-label>Nombre(s):</ion-label>
    <ion-input placeholder="Ingresa tu(s) nombre"></ion-input>
    <ion-label>Apellido(s):</ion-label>
    <ion-input placeholder="Ingresa tu(s) apellidos"></ion-input>
    <ion-label>Edad:</ion-label>
    <ion-input placeholder="Ingresa tu edad"></ion-input>
    <ion-label>Sexo:</ion-label>
    <ion-input placeholder="Ingresa tu sexo"></ion-input>
    <ion-label>Nivel Educativo</ion-label>
    <ion-select name="nivel_educativo" placeholder="Selecciona una opción">
        <ion-select-option value="Primaria">Primaria</ion-select-option>
        <ion-select-option value="Bachiller Basico">Bachiler Basico</ion-select-option>
    </ion-select>
    <ion-label>Correo:</ion-label>
    <ion-input type="email" placeholder="Ingresa tu correo"></ion-input>
    <ion-label>Usuario:</ion-label>
    <ion-input placeholder="Ingresa un usuario"></ion-input>
    <ion-label>Clave:</ion-label>
    <ion-input type="password" placeholder="Ingresa una clave"></ion-input>
    <ion-button class="bregister" type="submit">Registrarme</ion-button>
</ion-content>