<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img class="img" src="./assets/perfil mujer.svg" slot="start"></ion-img>
        <ion-title>
            Cecilia Martinez
        </ion-title>
        <ion-img class="img" src="./assets/configuracion.svg" slot="end"></ion-img>
    </ion-toolbar>
    <!-- <ion-toolbar color="secondary" class="menu"> -->
    <span class="menu" color="secondary"></span>
    <!-- </ion-toolbar> -->
    <ion-toolbar class="title">
        <ion-title color="primary">
            Noticias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
    <ion-toolbar color="primary" class="title">
        <ion-img class="imgfooter" src="./assets/news.svg" slot="start"></ion-img>
        <ion-img class="imgfooter" src="./assets/nueva incidencia.svg"></ion-img>
        <ion-img class="imgfooter" src="./assets/campana de notificacion.svg" slot="end"></ion-img>
    </ion-toolbar>
</ion-footer>